body{
    margin:0;
    background-color: #1a1a1a;
    font-family: Verdana, sans-serif;
}
.main{
    color: white;
    text-align: center;
    padding: 16px;
    margin-top: 30px;
}
.navBar{
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navBar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navBar a:hover{
    background: #ddd;
    color: black;
}
.imageFrame{
    max-width: 80%;
    max-height: 600px;
    position: relative;
    margin: auto;
    text-align: center;
    display: inline-block;
}
.topics img{
    text-align: center;
    max-width: 600px;
    max-height: 500px;
    margin: 15px 15px;
    position: relative;
}
.topics p{
    margin: 15px auto;
}
.topics ul{
    text-align: center;
}
.profile{
    font-size: 12pt;
}
.profile img{
    width: 500px;
    height: 500px;
    padding: 0;
    margin: 0px 20px 10px 50px;
    text-align: left;
    float: left;
}
.profile h1{
    font-size: 36pt;
}
.profile h2{
    text-align: left;
}
.profile p,ul{
    text-align: left;
}
.profile ul{
    list-style-type: none;
    display: block;
}
.profile .iconImg{
    width: 32px;
    height: 32px;
    margin: 0 5px;
    float: none;
}
.profileProjects img{
    width: 800px;
    height: 600px;
    text-align: center;
}
h1{
    font-size: 50pt;
}
footer{
    height: 40px;
    line-height: 40px;
    background-color: #333333;
    text-align: center;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #333333, white, #333333);
    clear: both;
}
.infoDiv div{
    max-width: 80%;
    max-height: 600px;
    position: relative;
    margin: auto;
    text-align: center;
    display: inline-block;
}
.popUpBox{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.popUpContent{
    max-width: 80%;
    max-height: 90%;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: #fefefe;
    border: 1px solid #888888;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.8);
}
.popUpClose{
    position: absolute;
    right: 25px;
    top: 0;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
}
.popUpText{
    text-align: center;
    background-color: #ffffff;
    color: black;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.8);
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.8);
    padding: 5px 0 5px 0;
}
.popUpImage{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
}
.projectsImages{
    margin: 20px;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flexbox-wrap: wrap;
    -ms-flexbox-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}
.projectsImages img{
    width: 40vw;
    height: 40vw;
}
.projectsImage{
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin: 1vw 2vw;
}
.imageText {
    color: #f2f2f2;
    font-size: 15px;
    padding: 4px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

div img{
    width: 100%;
    height: 80%;
}
.myButton {
    -moz-box-shadow:inset 0px 1px 3px 0px #404040;
    -webkit-box-shadow:inset 0px 1px 3px 0px #404040;
    box-shadow:inset 0px 1px 3px 0px #404040;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #8c8c8c));
    background:-moz-linear-gradient(top, #666666 5%, #8c8c8c 100%);
    background:-webkit-linear-gradient(top, #666666 5%, #8c8c8c 100%);
    background:-o-linear-gradient(top, #666666 5%, #8c8c8c 100%);
    background:-ms-linear-gradient(top, #666666 5%, #8c8c8c 100%);
    background:linear-gradient(to bottom, #666666 5%, #8c8c8c 100%);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #404040;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8c8c8c), color-stop(1, #666666));
    background:-moz-linear-gradient(top, #8c8c8c 5%, #666666 100%);
    background:-webkit-linear-gradient(top, #8c8c8c 5%, #666666 100%);
    background:-o-linear-gradient(top, #8c8c8c 5%, #666666 100%);
    background:-ms-linear-gradient(top, #8c8c8c 5%, #666666 100%);
    background:linear-gradient(to bottom, #8c8c8c 5%, #666666 100%);
}
.myButton:active {
    position:relative;
    top:1px;
}
.dots{
    margin-top: 15px;
}

/* SlideShow */

*{
    box-sizing: border-box;
}
.mySlides{
    display: none;
}
img{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 0px solid #000000;
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    max-height: 500px;
    position: relative;
    margin: auto;
    text-align: center;
    display: inline-block;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right and "prev" at left */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

footer{
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #333333;
    color: white;

}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

@media screen and (max-width: 970px){
    .p{
        font-size: 8pt;
    }
}

@media screen and (max-width: 800px){
    .profile h2{
        clear: both;
        text-align: center;
    }
    .imgFrame{
        max-width: 80%;
        max-height: 600px;
        position: relative;
        margin: auto;
        text-align: center;
        display: inline-block;
    }
}